<!DOCTYPE html>
<!-- basic html design -->
<html>
	<title>Recipe App</title>
	<style>
		body {
			background-color: darkblue;
			position: relative;
		}
		h1 {
			color: wheat;
		}
		button {
			background-color: wheat;
			color: black;
		}
		.center {
			display: block;
			margin: auto;
			text-align: center;
		}
	</style>
	<body>
		<div>
			<br />
			<br />
			<h1 class="center">Welcome to the Recipe App!</h1>
			<br />
			<br />
			<button class="center">Add a Recipe...</button>
		</div>
	</body>
</html>
